td,th{
    border: 1px solid rgb(46, 39, 39);
    padding: 10px;
    color: white;
}
table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;

}
body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    margin-top: 170px;
}
th{
    background-color: orangered;
}
td:hover{
    background-color: darkolivegreen;
}